{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="fullpage" class="fullpage-default">
    <div class="section animated-row" data-section="slide07">
        <div class="section-inner">
            <div class="row justify-content-center">
                <div class="col-md-7 wide-col-laptop">
                    <div class="title-block animate" data-animate="fadeInUp">
                        <span>Sign Up</span>
                        <h2>Get In Touch!</h2>
                    </div>
                    <div class="contact-section">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8 animate" data-animate="fadeInUp">
                                <form method="POST" action="{% url 'signup' %}" >
                                    {% csrf_token %}
                                    <div class="input-field">
                                        <input type="text" class="form-control" name="username" id="username" required placeholder="Username">
                                    </div>
                                    <div class="input-field">
                                        <input type="email" class="form-control" name="email" id="username" required placeholder="Email">
                                    </div>
                                    <div class="input-field">
                                        <input type="password" class="form-control" name="password" id="password" required placeholder="Password">
                                    </div>
                                    <div class="input-field">
                                        <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" required placeholder="Confirm Password">
                                    </div>
                                    <button class="btn" type="submit">Sign Up</button>
                                    
                                </form>
                                <div id="form-messages" class="mt-3">
                                    {% include 'messages.html' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}